In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('german_credit_data.csv')

In [4]:
df.shape

(1000, 10)

In [5]:
df.columns

Index([u'Unnamed: 0', u'Age', u'Sex', u'Job', u'Housing', u'Saving accounts',
       u'Checking account', u'Credit amount', u'Duration', u'Purpose'],
      dtype='object')

In [16]:
df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,67,male,2,own,NaN,little,1169,6,radio/TV
1,22,female,2,own,little,moderate,5951,48,radio/TV
2,49,male,1,own,little,NaN,2096,12,education
3,45,male,2,free,little,little,7882,42,furniture/equipment
4,53,male,2,free,little,little,4870,24,car

In [8]:
df['Purpose'].value_counts()

car                    337
radio/TV               280
furniture/equipment    181
business                97
education               59
repairs                 22
vacation/others         12
domestic appliances     12
Name: Purpose, dtype: int64

In [10]:
df=df.drop(['Unnamed: 0'],axis=1)

In [12]:
df.shape

(1000, 9)

In [ ]:
plt.close();
sns.set_style("whitegrid");
sns.pairplot(df, hue="Purpose", height=4);
plt.show()